@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 4rem 2rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 4px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    height: 50px;
    width: fit-content; 
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #1089FF;
}
.purchase-info .btn:last-of-type{
    background: #01D28E;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #1089FF;
    border: 1px solid #01D28E;
    margin: 0 0.2rem;
    border-radius: 10%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #01D28E;
    border-color: transparent;
    color: #fff;
}
.table{
    align-items: center;
}
.comment{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
@media screen and (max-width: 680px) {
    .comment {
      flex-basis: 100%;
      text-align: left;
    }
  }

.columns {
	display: flex;
	flex-flow:row wrap ;
	justify-content: center;
	margin-left: 30%;
    margin-right: 30%;
}

.column {
	flex: 1;
	margin: 5px;
	padding: 12px;
    text-align: center;	
}





@media screen and (max-width: 980px) {
    .columns .column {
      margin-bottom: 5px;
      flex-basis: 60%;
      }
    }
  

  @media screen and (max-width: 680px) {
    .columns .column {
      flex-basis: 100%;
      text-align: left;
      margin-left: 5%;
      
    }
  }
  @media screen and (max-width: 680px) {
    .columns {
      flex-basis: 100%;
      margin: 0;
      
    }
  }

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
