* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 50%;

}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
}

section .imgbox {
    background-size:cover;
    background-image: url("../images/bglogin.png");
    position: relative;
    width: 50%; 
    margin: 12px;
    border-radius: 10px;
}

/* section .imgbox:before {
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    width: 100%;
    height: 100%;
} */

section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .content.form {
    width: 50%;
}

section .content .form h2 {
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

section .content .form .input {
    margin-bottom: 20px;
}

section .content .form .input span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

}

section .content .form .input input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    font-style: normal;
    color: #575757;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #2691d9;
}

.resend {
    font-size: 16px;
    background: white;
    color: #1089FF;
    outline: none;
    border: 2px solid #2691d9;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    height: 40px;
    border-radius: 5px;


}

.resend:hover {
    background: linear-gradient(93.7deg, rgba(16, 137, 255, 0.83)25.26%, #56EAB9 100%);
    border: 0px;
    color: aliceblue;
}

.send {
    font-size: 16px;
    background: linear-gradient(93.7deg, rgba(16, 137, 255, 0.83)25.26%, #56EAB9 100%);
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    height: 40px;
    border-radius: 5px;


}

.send:hover {
    background: linear-gradient(93.7deg, rgb(16, 136, 255)25.26%, #56eab9 100%);
}

@media (max-width: 768px) {
    section .imgbox {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    section .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .content .form {
        width: 100%;
        padding: 40px;
        background: white;
        margin: 50px;
        border-radius: 10px;

    }
}

.buttons {
    display: flex;
    gap: 10px;
    /* height: 50%; */


}